body{
    background: url("../images/rgubanner1.jpg") scroll no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: oldlace;
    overflow: hidden;
    margin-bottom: -20px;
}
.welcome{
    width: 1000px;
    border: 1px solid #f8e8a0;
    background-color: #ededed;
    box-shadow: #d2d2d2;
    padding: 10px 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS";
}
.welcome h1, h2, h3, h4{
    text-align: center;
    font-size: x-large;
    font-family: "Comic Sans MS";
}
.signupform{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

/* Style for Home.php images*/
.groupimages{
    border: 10px solid #f8e8a0;
    border-radius: 10px;
}

/*style for message.php */
.alert{
    background-color: red;
    color: white;
    padding: 4px;
    margin-bottom: 10px;
}
.success{
    background-color: green;
    color: white;
    padding: 4px;
    margin-bottom: 10px;
}

/*.swap{
    text-align: right;
}*/
